# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR __fish_initialized:4300
SETUVAR fish_color_autosuggestion:{{ semantic.autosuggestions.no_hash }}
SETUVAR fish_color_cancel:{{ semantic.error.no_hash }}
SETUVAR fish_color_color_comment:{{ semantic.fish_comments.no_hash }}
SETUVAR fish_color_command:{{ semantic.fish_commands.no_hash }}
SETUVAR fish_color_end:{{ semantic.text_secondary.no_hash }}
SETUVAR fish_color_error:{{ semantic.error.no_hash }}\x01underline
SETUVAR fish_color_escape:{{ semantic.escape_sequences.no_hash }}
SETUVAR fish_color_history_current:ac7dad\x1ebold
SETUVAR fish_color_keyword:{{ semantic.fish_keywords.no_hash }}
SETUVAR fish_color_normal:{{ semantic.text_primary.no_hash }}
SETUVAR fish_color_operator:{{ semantic.operators.no_hash }}
SETUVAR fish_color_param:{{ semantic.text_primary.no_hash }}
SETUVAR fish_color_quote:{{ semantic.fish_strings.no_hash }}
SETUVAR fish_color_redirection:{{ semantic.escape_sequences.no_hash }}
SETUVAR fish_color_search_match:{{ semantic.text_primary.no_hash }}\x1e\x2d\x2dbackground\x1e{{ semantic.alt_surface.no_hash }}
SETUVAR fish_color_selection:white\x1e\x2d\x2dbackground\x1e{{ semantic.alt_surface.no_hash }}
SETUVAR fish_color_valid_path:{{ semantic.text_primary.no_hash }}\x01underline
SETUVAR fish_pager_color_completion:{{ semantic.text_primary.no_hash }}
SETUVAR fish_pager_color_description:{{ semantic.text_secondary.no_hash }}\x1eitalic
SETUVAR fish_pager_color_prefix:{{ semantic.fish_commands.no_hash }}\x1ebold\x01underline
SETUVAR fish_pager_color_progess:{{ semantic.text_secondary.no_hash }}\x1eitalic
SETUVAR fish_pager_color_secondary_completion:{{ semantic.text_primary.no_hash }}\x1e\x2d\x2dbackground\x1e{{ semantic.surface.no_hash }}
SETUVAR fish_pager_color_secondary_description:{{ semantic.text_secondary.no_hash }}\x1eitalic\x1e\x2d\x2dbackground\x1e{{ semantic.surface.no_hash }}
SETUVAR fish_pager_color_secondary_prefix:{{ semantic.fish_commands.no_hash }}\x1ebold
SETUVAR fish_pager_selected_completion:{{ semantic.background.no_hash }}\x1e\x2d\x2dbackground\x1e{{ semantic.active_border.no_hash }}
SETUVAR fish_pager_selected_description:{{ semantic.background.no_hash }}\x1e\x2d\x2dbackground\x1e{{ semantic.active_border.no_hash }}\x1eitalic
SETUVAR fish_pager_selected_prefix:{{ semantic.background.no_hash }}\x1e\x2d\x2dbackground\x1e{{ semantic.active_border.no_hash }}\x1ebold
SETUVAR fish_user_paths:/home/ryan/\x2elocal/bin
